@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 241, 241);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(8, 8, 8);
  font-size: clamp(16px, 2vw, 26px);
}

h1 {
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}

p {
  margin: 0px;
}

a {
  color: rgb(162, 0, 255);
  text-decoration: none;
  font-weight: 100;
}

.dark a {
  color: rgb(246, 169, 241);
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
  z-index: 6;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
  color: rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
  max-width: 35rem;
  z-index: 10;
}

.square {
  width: 98%;
  margin: 1%;
  /* height: 350px; */
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  border-radius: 15px;
  position: relative;
  box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.58);
}

.square img {
  max-width: 100%;
}

.square p {
  margin-bottom: 15px;
}

.dark .square {
  background-color: rgb(71, 71, 71);
  box-shadow: 4px 4px 5px 3px rgba(148, 146, 146, 0.58);
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}

.hero-image {
  position: relative;
  width: 50%;
  height: 350px;
  display: block;
  margin-bottom: 100px;
  z-index: 6;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#html {
  left: 100px;
  bottom: 80px;
  background-image: url("/images/html-square.png");
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}

#html:before {
  background-color: rgb(189, 154, 221);
}

#html:after {
  background-color: rgb(205, 188, 221);
}

#css {
  left: 250px;
  bottom: 240px;
  background-image: url("/images/css-square.png");
  background-size: cover;
  background-color: rgb(227, 119, 191);
  box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
}

#css:before {
  background-color: rgb(221, 154, 207);
}

#css:after {
  background-color: rgb(221, 188, 211);
}

#javascript {
  left: 450px;
  bottom: 200px;
  background-image: url("/images/javascript-square.png");
  background-size: cover;
  background-color: rgb(119, 227, 186);
  box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#javascript:before {
  background-color: rgb(154, 221, 202);
}

#javascript:after {
  background-color: rgb(188, 221, 212);
}

#react {
  left: 350px;
  bottom: 40px;
  background-image: url("/images/react-square.png");
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#react:before {
  background-color: rgb(154, 189, 221);
}

#react:after {
  background-color: rgb(188, 200, 221);
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  background-image: linear-gradient(to bottom, #86377b 20%, #d1d1db 80%);
}

.dark footer {
  background-color: rgb(28, 28, 28);
  background-image: none;
}

.contact-icons {
  display: flex;
  gap: 1rem;
}

.icon-link {
  transition: transform 0.3s ease-in-out;
}

.icon-link:hover {
  transform: scale(1.2);
}

.icon {
  transition: filter 0.3s ease-in-out;
}

.icon:hover {
  filter: brightness(1.2);
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #d1d1db 80%);
}

.bgTop {
  z-index: 3;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 2;
  opacity: 0.75;
}

.bgBottom {
  z-index: 1;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move_wave 3s;
  -webkit-animation: move_wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.main-image {
  z-index: 6;
}

.animated-border {
  position: relative;
  background-image: linear-gradient(45deg, #3023ae 0%, #ff0099 100%);
  box-shadow: 0 0 200px 0 rgba(71, 75, 201, 0.7),
    0 0 50px 0 rgba(48, 35, 174, 0.7);
  animation: morpheus 10s linear infinite;
}

@keyframes morpheus {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 60% 40% 40% 60% / 60% 25% 75% 40%;
  }
  40% {
    border-radius: 70% 30% 65% 35% / 80% 45% 55% 20%;
  }
  60% {
    border-radius: 30% 70% 70% 30% / 20% 30% 70% 80%;
  }
  80% {
    border-radius: 40% 60% 40% 60% / 70% 55% 45% 30%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

.project-links {
  position: absolute;
  right: -1.5%;
  top: 5%;
  /* transform: translateY(-50%); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 99;
}

.project-icon {
  transition: transform 0.3s, filter 0.3s;
  filter: grayscale(100%);
}

.project-icon:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.responsive-image {
  width: 100%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 700px) {
  .responsive-image {
    width: 20%;
    height: 20%;
  }
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }

  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}

@media only screen and (max-width: 970px) {
  .square {
    position: relative;
    margin: 1rem;
  }

  .square:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(120deg, #3023ae 0%, #aedcf3 100%);
    z-index: -1;
    background-size: 200%;
    transition: 0.5s;
    border-radius: 15px;
    animation: animate 5s linear infinite;
  }

  @keyframes animate {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .hero-image {
    display: none;
  }
}
